@import "tailwindcss";
@plugin "daisyui";

/* Cấu hình DaisyUI v5 với Tailwind v4 */
@theme {
  --daisyui-themes: pastel, retro, coffee, forest, cyberpunk, synthwave, luxury,
    autumn, valentine, aqua, business, night, dracula;
}
